@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #060C1A;
}

div.search-container {
  width: calc(100% - 50px)
}

@layer components {
  .bigBox {
    @apply col-span-5 tablet:col-span-3  bg-[#0E1421] rounded-[30px] p-5 grid grid-cols-2
  }
}